.header
  %h1
    Bitcoin Leaderboard

  .br
  .tagline
    put your bitcoin where your twitter is
  
  =link_to '/auth/twitter', :class => 'signup' do
    %i.icon-twitter.bird
    Add your twitter handle

    
.content
  %ul.leaderboard
    - @identities.each_with_index do |identity, index|
      %li(data-id="#{identity.to_param}" class="#{'selected' if identity == @identity}")
        =link_to name_path(identity.name) do
          = index + 1
          = identity.name

  #profile
    .balance
    %a.refresh(href='#') refresh balance

    .twitter
      %a
        %img
      %a.handle

    .addresses-wrapper
      %ul.addresses
      %a.add-address(href='#') add a wallet address

  #receive-address-dialog(title='Add a new wallet address')
    In order to compute your balance, we need to verify your wallet addresses.
    To do this, send any fraction of a bitcoin to this unique address:

    %h5.validation-address
    %img.qr-code

