%em= @identity.name
is ranked #5 out of 6.

%h3 Addresses
%ul
  - @identity.addresses.each do |address|
    %li
      = address.address
      = bitcoin_balance(address.balance)

%p
  Your balance is 0.0 BTC. You are ranked #6 of 6. You can add more addresses or transfer btc to your existing addresses to move up the leaderboard.

%p
  To add an address, send a payment of 0.00001 BTC to:
  Make sure to send the payment from the address you want to add.

Total balance
= bitcoin_balance(@identity.balance)

%p
  =link_to 'return to leaderboard', root_path
