= @identity.name

%h2 Addresses
%ul
  - @identity.addresses.each do |address|
    %li
      = address.address
      = bitcoin_balance(address.balance)

%p
  To add an address, send a payment of 0.00001 BTC to:
  Make sure to send the payment from the address you want to add.

Total balance
= bitcoin_balance(@identity.balance)

%p
  =link_to 'return to leaderboard', root_path