@import "compass";

// TODO: make this work
//@import "compass/reset";

body {
  font-family: "Lora", serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Taken from http://www.ecogex.com/bitcoin/
$btc-orange:     #eb611f;
$btc-dark-grey:  #848484;
$btc-light-grey: #dbdbdb;

.validation-address, .address {
  font-family: "andale mono", "lucida console", monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header, .content {
  position: relative;
  width: 920px;
  margin: 0 auto;
}

.header {
  margin-bottom: 5px;
  h1, .tagline {
    display: inline;
  }
}

.signup {
  display: inline-block;
  width: 300px;
  margin-left: 220px - 12px*2;
  padding: 10px 12px;
  @include border-radius(7px);
  @include background-image(linear-gradient(top,#fff 0,#ddd 100%));
  
  input[type=submit] {
  }
}

.content {
  ul.leaderboard {
    width: 274px;
    li {
      cursor: pointer;
      padding: 15px;
    }
    li:nth-child(odd) {
      background-color: #eee;
    }
    li:nth-child(even) {
      background-color: $btc-light-grey;
    }
    li.selected {
      background-color: $btc-orange;
      font-size: 34px;
    }
    form {
      display: inline;
    }
  }

  #profile {
    position: absolute;
    top: 0px;
    left: 274px;
    right: 0;
    background-color: $btc-orange;
    padding: 15px;

    .balance {
      font-size: 53px;
    }

    .addresses-wrapper {
      background-color: $btc-light-grey;
      border: 1px solid $btc-dark-grey;
      padding: 10px;
      width: 347px;

      ul.addresses {
        li.empty {
          font-style: italic;
        }
      }
      a {
        text-align: center;
        margin: 5px 0;
        display: block;
      }
    }

    .twitter {
      position: absolute;
      top: 15px;
      right: 15px;
      img {
        display: block;
        width: 125px;
        height: 125px;
      }
    }

  }
}
